
body 

{

background-color:#3366CC;

}


BODY

{
background-image:url("BOAT.JPG");

background-repeat:no-repeat;

background-position:TOP; 

}


H1

{

COLOR:#FFFFCC;

TEXT-ALIGN:CENTER;

FONT-SIZE:60PX;

}

UL

{

WIDTH:680PX;

LIST-STYLE-TYPE:NONE;

MARGIN:0 AUTO;

}

LI

{ 

FLOAT:LEFT;

}

A:LINK,A:VISITED

{

WIDTH:150PX;

DISPLAY:BLOCK;

FONT-WEIGHT:BOLD;

COLOR:#FFFFCC;

BACKGROUND-COLOR:#00CCCC;

TEXT-ALIGN:CENTER;

PADDING:5PX;

TEXT-DECORATION:NONE;

}

A:HOVER,A:ACTIVE

{

BACKGROUND-COLOR:#3366CC;

}

DIV.EX

{

WIDTH:592PX;

HEIGHT:1070PX;

PADDING:20PX;

BORDER:5PX;

MARGIN:15PX;

border-style:OUTset;

border-color:#00CCCC;

margin-left:auto;

margin-right:auto;

BACKGROUND-COLOR:#FFFFCC;

}


img
{
-webkit-box-shadow: 3px 3px 3px #7C7C7C;
box-shadow: 3px 3px 3px #7C7C7C;         /*BOX SHADOW*/
}

IMG:HOVER
{
background-image:url("TIGER.JPG");
}
